body {background-color: #000000;}
#frame {margin:25px; background-color: #0f0f0f; border-radius: 15px; padding:10px; margin:30px 20px 0 20px;}
.info{background-color:#141414; border-radius: 10px; padding:5px;}
.nobullets{list-style-type:none;}
#message {margin-top:25px;}
.messageitem {opacity:0; background-color: rgb(234, 39, 17); font-weight: bold; padding:5px; margin:5px 0; border-radius: 5px;}
#hints{display:none;}
#footnote{font-size:.9em; color:#161616;text-align: center; margin:6px; padding:0;}
#footnote a {color:#101010;}
#game {display:none;}
#end {display:none; margin:10px;}
#load {margin-top:10px;}
* {
    color: rgb(165, 214, 61);
    font-family: "Ubuntu Mono", "Courier New", monospace;
    /* Optional: für Terminal-ähnliches Aussehen */
    font-size: 14px;
    line-height: 1.4;
}
button {background-color: #0f0f0f;}
#btn_submit {
  background-color: black !important;
  color: rgb(234, 39, 17) !important;
}